body {
    background-color: #67dd8c;
    font-family: "Arial", sans-serif;
    margin: 0;
    padding: 0;
}
/* #contain {
    

} */


h1 {
    font-size: 2rem;
    text-align: center;
    padding-top: 100px;
}

p {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.choosetxt {
        text-align: center;
}

.buttons {
    display: flex;
    justify-content: center;
}

button {
    border: none;
    font-size: 3rem;
    margin: 0 0.5rem;
    padding: 0.5rem;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
}

button:hover {
    opacity: 0.7;
}

#rock {
    background-color: #565656;
}

#paper {
    background-color: #2196f3;
}

#scissors {
    background-color: #4caf50;
}

#user-score {
    color: #2196f3;
}

#computer-score {
    color: #ff0000;
}

#reset {
    background-color: #ff9100;
}

#game-end {
    display: none;
}

.wrapper {
    display: none;
}

#resetBtn {
    display: flex;
}

@supports (-moz-appearance: none) {
    .game {
        width: 8% !important;
    }
    #info {
        display: block !important;
    }
}

#info {
    display: none;
    color: #a0a0a0;
    font-size: 0.6rem;
}


aside {
    text-align: center;


    margin: auto;
    white-space: nowrap;
}

/* .hp {
    margin: auto;
    padding: 20px;
} */

#startHearts {
    text-align: center;
}

#paper:active, #rock:active, #scissors:active {
    background-color: #ff0000;
    transition: 0s;
}

#restart {
    text-align: center;
    margin-top: 20px;
}